# Pandas: 
### - Concatenating and Joining DataFrames
### - Visualising data in DataFrames

<strong> <h2> Run The Following Code </h2> </strong>

Hit SHIFT + ENTER when your cusor is inside the cell of code.<br/>

## Importing and Checking the Data

In [ ]:
!pip install wget
import wget
wget.download('https://d17lzt44idt8rf.cloudfront.net/data-week-08.zip')
!unzip 'data-week-08.zip' -d .

> Data Preparation. Importing pandas

In [ ]:
import pandas as pd

In [ ]:
# Import the two plotting packages (don't have to use both)
## Package: Matplotlib
%matplotlib inline
from matplotlib import pyplot as plt

## Package: Seaborn
import seaborn as sns

In [ ]:
# These two lines are to set the size of the plot/chart
## For Matplotlib
plt.rc('figure', figsize=(16,9))
## For Seaborn
sns.set(rc= {"figure.figsize": (16, 9)})

> Open up a CSV file

In [ ]:
hdb = 'data/0_raw_data/sample/years/hdb_resale_sample_raw_2012.csv'

df = pd.read_csv(hdb)

> viewing the contents of the dataset

The main dataset that we will work on is on HDB resale data.<br/>
See the description below for the fields given. <br/>
<br/>
<table>
    <tr><th>Field</th><th>Description</th></tr>
    <tr><td>Trans_YearMonth</td><td>year-month (YYYY-MM) for transaction</td></tr>
    <tr><td>town</td><td>town for the resale flat</td></tr>
    <tr><td>flat_type</td><td>flat type for the resale flat</td></tr>
    <tr><td>block</td><td>block for the resale flat</td></tr>
    <tr><td>street_name</td><td>street for the resale flat</td></tr>
    <tr><td>storey_range</td><td>storey range for the resale flat</td></tr>
    <tr><td>floor_area_sqm</td><td>floor area in square meter</td></tr>
    <tr><td>flat_model</td><td>model of resale flat</td></tr>
    <tr><td>lease_commence_date</td><td>year of lease commencement</td></tr>
    <tr><td>resale_price</td><td>price of the resale flat</td></tr>
</table>

In [ ]:
df.shape #num of rows and columns 15000 rows, 10 columns

In [ ]:
df.head() #first 5 rows of data

## Concatenating DataFrames (with .concat)

> Concatenating DataFrames

In [ ]:
import os

In [ ]:
os.listdir() #prints out current working directory

In [ ]:
os.listdir('data/0_raw_data/sample/years') #prints out files in specific path

In [ ]:

folder_path = 'data/0_raw_data/sample/years'

dfs_list = []
for filename in os.listdir(folder_path): #loop through the files and save dataframes
    df_temp = pd.read_csv(folder_path + '/' + filename)
    dfs_list.append(df_temp)
    print("appended " + filename + " with " + str(len(df_temp)) + " rows to the list of DataFrames")

In [ ]:
#concatenate dataframes
df = pd.concat(dfs_list)
#notice the index is off because it follows respective dataframes index
df

In [ ]:
#concatenate dataframes
df = pd.concat(dfs_list, ignore_index=True) #concatenate dataframes
#notice the index is now correct
df

## Joining DataFrames (with .merge)

> Joining DataFrames (with an simple example)

In [ ]:
df1 = pd.DataFrame({"Name": ["Ali", "Ah Ming", "Mutu"], "class": ["a", "b", "b"]})
df1

In [ ]:
df2 = pd.DataFrame({"Name": ["Ali", "Ah Ming", "Ah Ming", "Siti"], "subject": ["eng", "eng", "math", "math"], "score": [85, 25, 76, 80]})
df2

In [ ]:
# You can experimenting with the "left", "right", "inner", "outer" on the 'how' parameter to see the impacts
df1.merge(df2, how='left', on='Name')

> Joining DataFrames (using HDB dataset)

In [ ]:
df_mapping_streetname_to_town = pd.read_csv('data/0_raw_data/sample/hdb_resale_sample_raw_towns.csv') #towns dataframe

In [ ]:
df_mapping_streetname_to_town.head()

In [ ]:
df_dataset = pd.merge(df, df_mapping_streetname_to_town, how='left', on='street_name') #joined dataframe

In [ ]:
# To delete a variable (and erase the memory)
del df_dataset

<br/>

---

---

# Visualising Data in DataFrames

In [ ]:
# Ignore the " DtypeWarning" warning
df = pd.read_csv('data/1_processed_data/hdb_resale_sample_processed.csv')

---

## Charts that doesn't need groupby
- These charts can use raw data, without aggregating the data first
- These are charts that shows entire distribution of the data.

### Histogram
Good to show distribution of data

In [ ]:
df['resale_price'].plot.hist()

## Scatterplot
Good to show relationships between 2 numerical fields

In [ ]:
df.plot.scatter('floor_area_sqm', 'resale_price')

## Boxplot
Good to describe numerical fields

![Boxplot](https://miro.medium.com/max/18000/1*2c21SkzJMf3frPXPAR_gZA.png)

In [ ]:
# The number of y-axis is the scientific notation of numbers (just like our scientific calculator)
df['resale_price'].plot.box()

---

# Charts that need groupby
These are charts that require some groupby aggregation

### Line Chart
Good to show time trends

In [ ]:
df.plot.line(x='lease_commence_date', y='resale_price')

In [ ]:
byyear = df.groupby('lease_commence_date')
pricebyyear = byyear['resale_price'].mean()
pricebyyear.plot.line(x='lease_commence_date', y='resale_price')

> Multiple lines

Need to create a table as below.
   <table>
    <tr><th></th><th>line1</th><th>line2</th><th>line3</th></tr>
    <tr><td><b>year1</b></td><td>line1_year1_values</td><td>line2_year1_values</td><td>line3_year1_values</td></tr>
    <tr><td><b>year2</b></td><td>line1_year2_values</td><td>line2_year2_values</td><td>line3_year2_values</td></tr>
    <tr><td><b>year3</b></td><td>line1_year3_values</td><td>line2_year3_values</td><td>line3_year3_values</td></tr>
   </table>
   
We can use the pivot function to help us.

In [ ]:
df.pivot_table('resale_price', 'lease_commence_date', 'flat_type', 'mean').plot.line()

In [ ]:
byyearft = df.groupby(['lease_commence_date','flat_type'], as_index=False)
pricebyyearft = byyearft['resale_price'].mean()
pivot = pricebyyearft.pivot(index='lease_commence_date', columns='flat_type', values='resale_price')
pivot.plot.line()

## Bar
Good to compare between categories

In [ ]:
df['price_per_sqm'] = df['resale_price'] / df['floor_area_sqm']

In [ ]:
byflattype = df.groupby('flat_type')
pricebyflattype = byflattype[['resale_price','price_per_sqm']].mean()
pricebyflattype['resale_price'].plot.bar()

In [ ]:
pricebyflattype['price_per_sqm'].plot.bar()

> multiple axis

## Seaborn for Data Exploration

- You can see seaborn is much intuitive and easier to use
- we don't have to aggregate the numbers before passing to the seaborn 
- It allows us to generate comprehensive charts that can be used to understand the data, with very little codes

In [ ]:
# Notice that no aggregation is required
sns.barplot(x='flat_type', y='price_per_sqm', data=df)

In [ ]:
# Seaborn also offers charts that can efficiently visualise the individual data points
# To help us better understanding the data and potentially observe odds data points
sns.catplot(x='flat_type', y='floor_area_sqm', data=df)

In [ ]:
# Seaborn's scatterplot can be useful for exploring multi-dimensional data


sns.scatterplot(x='floor_area_sqm', y='price_per_sqm', hue='flat_type', data=df)

In [ ]:
# Create a subset of dataset for visualisation
df_subset = df[(df['town'] == 'ANG MO KIO') | (df['town'] == 'BEDOK')]

# Seaborn can be used to quickly explore the characteristics of data
sns.catplot(x='flat_type', y='floor_area_sqm',
            col='town',
            data=df_subset)

In [ ]:
# You can also define another 'dimension' for the col (column) 
# This will take a bit of time to generate
sns.catplot(x='flat_type', y='floor_area_sqm',
            col='town', row='flat_model',
            data=df_subset)

# !! Your Turn !!

## Replace the code marked as <..> COMPLETELY with your own.
- The placeholder <..> is meant to be guidance for your answer.
- It should not be restricting your solutions for the questions.
- Feel free to add more lines or use less lines,
- One placeholder does not mean that you can only insert one line of codes.

# Question 1 
> Part A)

> Using os.listdir() method, list out the list of CSV files in **data > 0_raw_data > full > hdb_resale_datasets_by_years** <br/>\
Read them as separate dataframes and save them in a list variable called **dfs_resale_list**

In [ ]:
<..>

> Part B): 
> - Concat the list of dataframes in **dfs_resale_list** and store dataframe in the variable **df_resale**
> - Make sure the row index is in sequential order. The last index should be **185967**.
> -  Print the **last 10 rows** of **df_resale**|

In [ ]:
<..>

In [ ]:
<..>

# Question 2

> Part A): Create a new column **floor_area_sqft**, to store the floor area in squared feet\
> ðŸ’¡Hint: 1 squared meter = 10.764 squared foot

In [ ]:
<..>

2) Create a new column **price_per_sqft**, which is the price per squared foot of the particular resale unit

In [ ]:
<..>

3) Create a new column **hdb_age**, which is calculated based on current year minus the **lease_commence_date**

In [ ]:
<..>

# Question 3
> - Read **"flat_info_by_address.csv"** in the *data > 0_raw_data > full* into a dataframe and store in a variable **df_flat_info**
> - Print out the top 5 rows from **df_flat_info** 
> - Find the common column between **df_resale** and **df_flat_info**
> - Join the 2 dataFrames (**df_resale** and **df_flat_info**) together using left join and name the final dataframe **df**

In [ ]:
<..>

In [ ]:
<..>

In [ ]:
<..>

# Question 4
> Part A):
> - Plot a chart to depict the distribution of **floor_area_sqm**
> - You can use any methods or packages

In [ ]:
<..>

In [ ]:
<..>

> Part B):
> - Explore the relationship between the **storey_midpoint** and the **price_per_sqft** of the resale units

In [ ]:
<..>

> Part C):
> - Create a new chart, by adding another field (i.e. dimension) to make further refinement to depict the relationship between the **storey_midpoint** and the **price_per_sqft**

In [ ]:
<..>

# Question 5

> - Plot a chart to depict the trend lines of price_per_sqft for the different towns

In [ ]:
<..>

# Question 6*

>Calculate the a column **percentage_difference_from_average**, which is the percentage difference of the unit's resale price over the average resale price of the same flat_type in the same town. </br>

>> For example, the average for "3 ROOM" flat type in ANG MO KIO is \\$324,380. </br>
For a particular HDB unit with resale price of $410,000, the percentage difference is .264, which means this particular unit is 26.4% more expensive than the average resale price of the same flat_type in the same town.

> The result would look like this:
> 
> ![](https://i.imgur.com/hoqjoGY.png)

### finding mean price for each town and flat_type

In [ ]:
<..>

# Question 7 
1) Save the fullhdbdf in **data > 1_processed_data** folder as <b>hdb_resale_full_processed.csv</b> <br/>

In [ ]:
<..>